@import "tailwindcss";
@config "../tailwind.config.cjs";

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
